#logo {
    position       : fixed;
    top            : 0;
    left           : 0;
    background     : url(https://4.url.cn/zc/v3/img/logo@2x.png) no-repeat;
    background-size: 36px 43px;
    z-index        : 2;
    height         : 43px;
    line-height    : 43px;
    padding-left   : 46px;
    margin-left    : 30px;
    margin-top     : 18px;
    font-size      : 36px;
    display        : block;
    color          : #000;
}

#left {
    position           : fixed;
    top                : 0;
    left               : 0;
    height             : 100%;
    width              : 480px;
    float              : left;
    overflow           : hidden;
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : 480px 100%;
    transform: 0.5s;
    background-image: url(https://4.url.cn/zc/v3/img/01-1.jpg);
}
#top {
    min-width : 560px;
    top       : 0;
    left      : 0;
    text-align: right;
    position  : relative;
    z-index   : 1;

    .list {
        float      : right;
        margin     : 20px 40px 0 0;
        font-size  : 16px;
        color      : rgba(0, 0, 0, .902);
        padding    : 10px 0 0;
        line-height: 24px;
    }

    .feedback {
        margin-right: 60px;
        opacity     : .6;

        .text {
            color: #000;

        }
    }
}

#top .language {
    opacity: .6;
    color  : #000;

    .select {
        list-style : none;
        text-align : left;
        padding-top: 8px;
        display    : none;
        opacity    : 0.6;

        li {
            padding-top: 16px;
        }
    }
}

#top .lianghao {
    padding: 0;

    .lianghao-entry {
        position: relative;
        display : block;
        float   : right;

        .text {
            border-radius: 6px;
            background   : #f54444;
            background   : linear-gradient(126deg, #fc4754, #ff794c) #f54444;
            height       : 24px;
            line-height  : 24px;
            font-size    : 16px;
            margin       : 10px 0 0 5px;
            padding      : 0 10px 0 24px;
            color        : #fff;
            font-weight  : 300;
        }

        img {
            position: absolute;
            left    : 0;
            bottom  : 0;
            z-index : 1;
        }
    }
}

#top .lianghao .search {
    clear           : both;
    width           : 290px;
    border-radius   : 6px;
    border          : solid 1px #eee;
    background-color: #fff;
    box-shadow      : 0 3px 8px 0 rgba(0, 0, 0, .12);
    overflow        : hidden;
    padding         : 0;
    display         : none;

    .upper {
        border-bottom: solid 1px #f0f0f0;
        height       : 49px;
        position     : relative;

        .icon {
            display    : block;
            position   : relative;
            text-align : center;
            border-left: solid 1px #eee;
            height     : 49px;
            width      : 40px;
            background : 0 0;
            float      : right;
            z-index    : 1;
            transition : none;

            .icon-img {
                transition      : none;
                margin          : auto;
                background      : url(https://4.url.cn/zc/v3/img/search@2x.png) no-repeat transparent;
                background-image: -webkit-image-set(url(https://4.url.cn/zc/v3/img/search@2x.png) 1x, url(https://4.url.cn/zc/v3/img/search@2x.png) 2x);
                background-image: image-set("https://4.url.cn/zc/v3/img/search@2x.png"1x, "https://4.url.cn/zc/v3/img/search@2x.png"2x);
                height          : 16px;
                width           : 16px;
                position        : absolute;
                top             : 0;
                bottom          : 0;
                left            : 0;
                right           : 0;
            }
        }
    }
}

#top .lianghao .search .inp {
    border      : none;
    margin-right: 41px;
    background  : 0 0;
    height      : 49px;
    line-height : 49px;
    font-size   : 16px;
    padding     : 0 10px;

    .placeholder {
        position   : absolute;
        left       : 10px;
        top        : 0;
        background : #fff;
        font-weight: lighter;
        color      : #aaa;
    }

    #lianghao-key {
        width     : 100%;
        background: 0 0;
        position  : relative;
        z-index   : 2;
        font-size : 16px;
        border    : 0;
    }
}

#top .lianghao .search .bot {
    padding-top: 24px;
    font-size  : 16px;
    text-align : center;
    line-height: 1;

    .detail {
        margin-bottom: 24px;
        font-size    : 16px;

        a {
            outline        : 0;
            text-decoration: none;
            color          : #359eff;
        }
    }
}

#top .feedback:hover {
    opacity: 1;
}

#top .language:hover {
    opacity: 1;
}

#top .language:hover .select {
    display: block;
}

#top .lianghao:hover .search {
    display: block;
}

#right {
    margin-left: 480px;
    position   : relative;
    height     : 100%;

    .main {
        position      : absolute;
        padding-bottom: 10px;
        top           : 100px;
        width         : 100%;

        .from {
            position: relative;
            margin  : 0 auto;
            width   : 480px;
        }
    }
}

#right .main .from .welcome {
    font-size    : 44px;
    margin-bottom: 20px;
}

#right .main .from .sp {
    float: right;
}

#right .main .from .head {
    font-size    : 28px;
    margin-bottom: 64px;
    line-height  : 1.2;
    color        : #333;

    a {
        outline: 0;
        color  : #359eff;
    }
}

#top .lianghao .search .upper .icon:hover {
    background: linear-gradient(126deg, #fc4754, #ff794c) #f54444;
    ;
}

#top .lianghao .search .upper .icon:hover .icon-img {
    background      : url(https://4.url.cn/zc/v3/img/search-hover@2x.png) no-repeat transparent;
    background-image: -webkit-image-set(url(https://4.url.cn/zc/v3/img/search-hover@2x.png) 1x, url(https://4.url.cn/zc/v3/img/search-hover@2x.png) 2x);
    background-image: image-set("https://4.url.cn/zc/v3/img/search-hover@2x.png"1x, "https://4.url.cn/zc/v3/img/search-hover@2x.png"2x);
}

#right .main form .name {
    position: relative;

}

.flag {
    position: absolute;
    right   : 0;
    height  : 52px;
    z-index : 1;
}

.nametitle {
    position   : absolute;
    font-size  : 20px;
    line-height: 20px;
    padding    : 16px 20px;
    background : #fff;
    z-index    : -1;
    font-weight: lighter;
    color      : #aaa;
}

.inp-other {
    background: 0 0;
    margin    : 24px 0 0;
}

.error {
    padding-top: 8px;
    height     : 18px;
    position   : relative;
    line-height: 1;
}

.hint {
    opacity: 0;
    height : 0 !important;
}

.flag .inp-ok {
    background: url(https://4.url.cn/zc/v3/img/tick.png) no-repeat;
    width     : 20px;
    height    : 15px;
    display   : block;
    float     : right;
    margin    : 18.5px 10px;
}

#nickname {
    border       : 1px #aaa solid;
    border-radius: 4px;
    background   : 0 0;
    text-align   : left;
    font-size    : 20px;
    width        : 438px;
    height       : 50px;
    line-height  : 50px;
    padding      : 0 20px;
}

.textinput .error .error-tips {
    padding    : 0 0 0 24px;
    color      : #ff5b5b;
    font-size  : 14px;
    line-height: 18px;
    height     : 18px;
    position   : absolute;
    bottom     : 0;
}

#pass {
    border       : 1px #aaa solid;
    border-radius: 4px;
    background   : 0 0;
    text-align   : left;
    font-size    : 20px;
    width        : 438px;
    height       : 50px;
    line-height  : 50px;
    padding      : 0 20px;
}

.password-tips-group {
    height     : 78px;
    line-height: 1;
    overflow   : hidden;

    .password-tips {
        padding    : 0 0 0 24px;
        font-size  : 14px;
        line-height: 18px;
        margin     : 8px 0 8px;
    }
}

#phone {
    border       : 1px #aaa solid;
    border-radius: 4px;
    background   : 0 0;
    text-align   : left;
    font-size    : 20px;
    width        : 438px;
    height       : 50px;
    line-height  : 50px;
    padding      : 0 20px;
}

.phone {
    background: 0 0;
    margin    : 24px 0 0;
}

.phone-area .input-tips-wrap {
    position   : relative;
    overflow   : hidden;
    height     : 14px;
    line-height: 1;
    margin-top : 5px;

    .input-tips {
        font-size  : 14px;
        height     : 14px;
        color      : #999;
        white-space: nowrap;
        overflow   : hidden;
        position   : absolute;
        bottom     : 0;
    }
}

form div #submit {
    border          : 1px #3083ff solid;
    border-radius   : 4px;
    background-color: #3487ff;
    box-shadow      : 0 5px 8px 0 rgba(24, 95, 255, .1);
    color           : #fff;
    text-align      : center;
    font-weight     : lighter;
    background-image: linear-gradient(0deg, #398bff, #3083ff);
    width           : 478px;
    height          : 60px;
    margin          : 40px 0 8px;
    font-size       : 24px;
}

#duoxuan {
    position: relative;
    top     : 2.5px;
    left    : 2.5px;
}

.duoxuantishi {
    line-height: 30px;
    font-size  : 13px;
    color      : #aaa;
    margin-left: 2px;
}

.guiding-list {
    padding-left: 18px;

    a {
        outline        : 0;
        text-decoration: none;
        color          : #359eff;
        display        : block;
        font-size      : 14px;
    }
}
#right .footer{
    font-size: 14px;
    color: #bbb;
    text-align: center;
    margin: 30px 0;
}