@charset "utf-8";
$background:#0e0e0f;
$float     :left;


#header {
    height    : 156px;
    background: $background;
    position  : relative;

    .headertop {
        height       : 99px;
        border-bottom: 1px solid #333;

        .topmain {
            width : 1280px;
            margin: 0 auto;

            .cflogo {
                float       : $float;
                height      : 75px;
                margin-right: 10px;
                margin-top  : 12px;
            }

            .qqmall {
                margin-top: 20px;
                height    : 60px;
                float     : $float;
            }

            .cart {
                float     : right;
                width     : 73px;
                height    : 24px;
                margin-top: 47px;
            }

            .login {
                width : 84px;
                height: 24px;
                float : right;
                margin: 47px 20px 0px 50px;
            }

            .search {
                width        : 240px;
                height       : 40px;
                float        : right;
                background   : #242424;
                margin       : 39px 20px 0 0;
                border-radius: 20px;
            }
        }
    }
}

#header .headertop .topmain .cart .text {
    color    : #fff;
    font-size: 14px;
}

#header .headertop .topmain .cart .icon-gouwuche {
    font-size: 24px;
    color    : #fff;
}

#header .headertop .topmain .login .text {
    color    : #fff;
    font-size: 14px;
}

#header .headertop .topmain .login .icon-yonghu {
    font-size: 24px;
    color    : #fff;
}

#header .headertop .topmain .search input {
    width      : 205px;
    height     : 40px;
    background : none;
    border     : none;
    outline    : none;
    color      : #fff;
    line-height: 40px;
    font-size  : 14px;
    float      : left;
}

#header .headertop .topmain .search .icon-sousuo {
    font-size  : 20px;
    color      : #ccc;
    float      : left;
    line-height: 40px;
    margin     : 0 5px;
}

#header .headerbottom .bottommain {
    width : 1280px;
    margin: 0 auto;

    .headerbottom-left {
        width: 774px;
        float: left;

        li {
            float      : left;
            width      : 129px;
            line-height: 56px;

            a {
                display   : block;
                color     : #a6a6a6;
                font-size : 16px;
                text-align: center;
            }

            a:hover {
                background-image: repeating-linear-gradient(to top, orange 0, orange 10%, transparent 10%, transparent 100%);
            }
        }
    }

    .all {
        float      : right;
        display    : block;
        color      : #ffffff;
        font-size  : 16px;
        text-align : center;
        line-height: 56px;

        .icon-xialaanniu {
            color: orange;
        }

    }
}

#header .secondnav {
    height  : 470px;
    width   : 100%;
    position: absolute;
    top     : 100%;
    display : none;

    .navmain {
        margin: 0 auto;
        width : 400px;
        height: 445px;

        .list {
            float         : left;
            padding       : 0 10px;
            width         : 80px;
            text-align    : center;
            height        : auto;
            display       : table-cell;
            vertical-align: top;
        }

        .title {
            margin       : 0 auto;
            display      : block;
            width        : 80px;
            height       : 80px;
            border-bottom: 4px solid #e3e3e3;
            line-height  : 20px;
            font-size    : 16px;
            font-weight  : bold;

        }
    }
}

#header .secondnav .navmain .list .title img {
    margin-top: 15px;
}

#header .secondnav .navmain .list ul {
    margin-top: 15px;

    li {
        line-height: 30px;
        font-size  : 14px;
        color      : #333;
    }

    li:hover a {
        text-decoration: underline;
    }
}

#body {
    padding-top  : 50px;
    margin       : -30px auto 0;
    background   : #ffffff;
    width        : 1280px;
    border-radius: 5px;

}

#footer {
    margin-top: 40px;
    width     : 100%;
    height    : 233px;
    background: #0e0e0f;

    .main {
        width     : 1280px;
        height    : 100%;
        background: none;
        margin    : 0 auto;
        position  : relative;

        .logo {
            display : block;
            float   : left;
            position: absolute;
            top     : 51px;
            left    : 80px;
            width   : 213px;
            height  : 64px;

            img {
                display     : block;
                width       : 169px;
                height      : 60px;
                margin-right: -30px;
            }
        }
    }
}

#footer .main .menu {
    float       : left;
    border-right: 1px solid #ccc;
    border-left : 1px solid #ccc;
    margin-left : 317px;
    margin-top  : 50px;
    width       : 397px;
    height      : 135px;

    li {
        width  : 118px;
        height : 55px;
        padding: 0 38px;
        float  : left;

        a {
            color      : #a8a8a8;
            width      : 118px;
            height     : 30px;
            display    : block;
            line-height: 30px;
            font-size  : 16px;
        }

        a:hover {
            color: #ffffff;
        }
    }
}

#footer .main .menu li .iconfont {
    font-size   : 20px;
    margin-right: 5px;
}

#footer .main .picli {
    float  : left;
    padding: 50px 0 20px 33px;

    li {
        float  : left;
        padding: 0 45px;

        img {
            width : 100px;
            height: 100px;
        }

        p {
            color      : #fff;
            font-size  : 16px;
            width      : 100px;
            height     : 62px;
            text-align : center;
            line-height: 62px;
        }
    }
}

#mao {
    width   : 46px;
    height  : 267px;
    position: fixed;
    bottom  : 0;
    right   : 0;
    z-index : 2000;
    margin  : 0 20px 215px 0;

    .m1 {
        display      : block;
        border       : 1px solid #dfdfdf;
        border-bottom: none;
        background   : #f5f5f5;
        width        : 44px;
        height       : 44px;
        text-align   : center;
        overflow     : hidden;
        color        : #fff;
        line-height  : 16px;

        .icon-wenjian {
            display            : block;
            width              : 100%;
            height             : 100%;
            background-position: -32px -290px;
            margin             : 0 auto;
            padding-top        : 12px;
            font-size          : 20px;
            color              : #3a3f4a;
        }

        span {
            display    : none;
            font-size  : 16px;
            color      : #fff;
            padding-top: 5px;
        }
    }
}

#mao .m2 {
    display      : block;
    border       : 1px solid #dfdfdf;
    border-bottom: none;
    background   : #f5f5f5;
    width        : 44px;
    height       : 44px;
    text-align   : center;
    overflow     : hidden;
    color        : #fff;
    line-height  : 16px;

    .icon-dizhi {
        display            : block;
        width              : 100%;
        height             : 100%;
        background-position: -32px -290px;
        margin             : 0 auto;
        padding-top        : 12px;
        font-size          : 20px;
        color              : #3a3f4a;
    }

    span {
        display    : none;
        font-size  : 16px;
        color      : #fff;
        padding-top: 5px;
    }
}

#mao .m3 {
    display      : block;
    border       : 1px solid #dfdfdf;
    border-bottom: none;
    width        : 44px;
    height       : 130px;
    background   : #fff;
    padding      : 0;
    text-align   : center;
    overflow     : hidden;
    color        : #3a3f4a;
    line-height  : 16px;

    .icon-gouwuche {
        display            : block;
        width              : 100%;
        background-position: -32px -290px;
        margin             : 0 auto;
        padding-top        : 12px;
        font-size          : 20px;
        color              : #3a3f4a;
    }

    span {
        display    : block;
        font-size  : 13px;
        color      : #3a3f4a;
        margin-top : 6px;
        line-height: 16px;
    }
}

#mao .m4 {
    display      : block;
    border       : 1px solid #dfdfdf;
    border-bottom: none;
    background   : #f5f5f5;
    width        : 44px;
    height       : 44px;
    text-align   : center;
    overflow     : hidden;
    color        : #fff;
    line-height  : 16px;
    border       : 1px solid #dfdfdf;

    .icon-qq {
        display    : block;
        width      : 100%;
        margin     : 0 auto;
        padding-top: 12px;
        font-size  : 20px;
        color      : #3a3f4a;
    }

    span {
        display    : none;
        font-size  : 16px;
        color      : #fff;
        padding-top: 14px;
    }
}

#totop {
    position: fixed;
    bottom  : 0;
    right   : 0;
    z-index : 2000;
    margin  : 0 20px 25px 0;
    width   : 45px;
    height  : 45px;

    a {
        width      : 43px;
        height     : 31px;
        display    : block;
        border     : 1px solid #dfdfdf;
        background : #f5f5f5;
        text-align : center;
        overflow   : hidden;
        text-align : center;
        padding-top: 12px;

        .span1 {
            margin-top : 20px;
            font-size  : 16px;
            font-weight: 700;
        }

        .span2 {
            display    : none;
            font-size  : 16px;
            color      : #fff;
            padding-top: 5px;
        }
    }
}

#mao .m1:hover {
    background: orangered;
}

#mao .m1:hover .icon-wenjian {
    display: none;
}

#mao .m1:hover span {
    display: block;
}

#mao .m2:hover {
    background: orangered;
}

#mao .m2:hover .icon-dizhi {
    display: none;
}

#mao .m2:hover span {
    display: block;
}

#mao .m3:hover {
    background: orangered;
}

#mao .m3:hover span {
    color: #fff;
}

#mao .m4:hover {
    background: orangered;
}

#mao .m4:hover .icon-qq {
    display: none;
}

#mao .m4:hover span {
    display: block;
}

#totop a:hover {
    background: orangered;
}

#totop a:hover .span1 {
    color: #fff;
}

#footer-end {
    background : #1b1b1b;
    font-size  : 12px;
    line-height: 24px;
    padding    : 30px 0 40px;
    text-align : center;

    p {
        color: #777;

        a {
            color: #777;
        }
    }
}

#footer-end p a:hover {
    color: #dfdfdf;
}

#loginbox {
    display         : block;
    width           : 622px;
    height          : 418px;
    top             : 50%;
    left            : 50%;
    margin-left     : -311px;
    margin-top      : -209px;
    position        : fixed;
    z-index         : 10001;
    padding         : 0px;
    background-color: rgb(255, 255, 255);

    .close {
        display   : block;
        position  : absolute;
        top       : 1px;
        right     : 1px;
        width     : 47px;
        height    : 28px;
        background: url(https://vm.gtimg.cn/tencentvideo/vstyle/web/common/style/img/login/sprite_login.png?d=0210&max_age=31104000) 0 0 no-repeat;
        z-index   : 10;
    }
}

#loginbox .login-method {
    position     : relative;
    height       : 50px;
    margin-bottom: -1px;
    border-bottom: 1px solid #e6e6e6;
    background   : #f1f1f1;
    font-size    : 0;
    z-index      : 3;

    .qq-login {
        display   : inline-block;
        *display  : inline;
        zoom      : 1;
        width     : 50%;
        text-align: center;

        a {
            background: #31a4f6;
            height    : 50px;
            width     : 311px;
            display   : block;

            span {
                display    : block;
                height     : 50px;
                line-height: 51px;
                font-size  : 16px;
                color      : #fff;
            }
        }
    }
}

#loginbox .login-method .wx-login {
    display   : inline-block;
    *display  : inline;
    zoom      : 1;
    width     : 50%;
    text-align: center;

    a {
        height : 50px;
        width  : 311px;
        display: block;

        span {
            display    : block;
            height     : 50px;
            line-height: 51px;
            font-size  : 16px;
            color      : #b1b1b1;
        }
    }
}

#loginbox .remind {
    position     : relative;
    z-index      : 3;
    height       : 22px;
    padding      : 12px 10px;
    border-bottom: 1px solid #e6e6e6;

    div {
        font-size  : 14px;
        line-height: 22px;
        color      : #a2a2a2;
        text-align : center;
        zoom       : 1;
    }
}
#loginbox .qq .title{
    font-size: 20px;
    color: #333;
    margin-bottom: 16px;
    text-align: center;
}