@charset "UTF-8";
#header {
  height: 156px;
  background: #0e0e0f;
  position: relative;
}
#header .headertop {
  height: 99px;
  border-bottom: 1px solid #333;
}
#header .headertop .topmain {
  width: 1280px;
  margin: 0 auto;
}
#header .headertop .topmain .cflogo {
  float: left;
  height: 75px;
  margin-right: 10px;
  margin-top: 12px;
}
#header .headertop .topmain .qqmall {
  margin-top: 20px;
  height: 60px;
  float: left;
}
#header .headertop .topmain .cart {
  float: right;
  width: 73px;
  height: 24px;
  margin-top: 47px;
}
#header .headertop .topmain .login {
  width: 84px;
  height: 24px;
  float: right;
  margin: 47px 20px 0px 50px;
}
#header .headertop .topmain .search {
  width: 240px;
  height: 40px;
  float: right;
  background: #242424;
  margin: 39px 20px 0 0;
  border-radius: 20px;
}

#header .headertop .topmain .cart .text {
  color: #fff;
  font-size: 14px;
}

#header .headertop .topmain .cart .icon-gouwuche {
  font-size: 24px;
  color: #fff;
}

#header .headertop .topmain .login .text {
  color: #fff;
  font-size: 14px;
}

#header .headertop .topmain .login .icon-yonghu {
  font-size: 24px;
  color: #fff;
}

#header .headertop .topmain .search input {
  width: 205px;
  height: 40px;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  float: left;
}

#header .headertop .topmain .search .icon-sousuo {
  font-size: 20px;
  color: #ccc;
  float: left;
  line-height: 40px;
  margin: 0 5px;
}

#header .headerbottom .bottommain {
  width: 1280px;
  margin: 0 auto;
}
#header .headerbottom .bottommain .headerbottom-left {
  width: 774px;
  float: left;
}
#header .headerbottom .bottommain .headerbottom-left li {
  float: left;
  width: 129px;
  line-height: 56px;
}
#header .headerbottom .bottommain .headerbottom-left li a {
  display: block;
  color: #a6a6a6;
  font-size: 16px;
  text-align: center;
}
#header .headerbottom .bottommain .headerbottom-left li a:hover {
  background-image: repeating-linear-gradient(to top, orange 0, orange 10%, transparent 10%, transparent 100%);
}
#header .headerbottom .bottommain .all {
  float: right;
  display: block;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 56px;
}
#header .headerbottom .bottommain .all .icon-xialaanniu {
  color: orange;
}

#header .secondnav {
  height: 470px;
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: 9999;
  background: #ffffff;
}
#header .secondnav .navmain {
  margin: 0 auto;
  width: 400px;
  height: 445px;
}
#header .secondnav .navmain .list {
  float: left;
  padding: 0 10px;
  width: 80px;
  text-align: center;
  height: auto;
  display: table-cell;
  vertical-align: top;
}
#header .secondnav .navmain .title {
  margin: 0 auto;
  display: block;
  width: 80px;
  height: 80px;
  border-bottom: 4px solid #e3e3e3;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
}

#header .secondnav .navmain .list .title img {
  margin-top: 15px;
}

#header .secondnav .navmain .list ul {
  margin-top: 15px;
}
#header .secondnav .navmain .list ul li {
  line-height: 30px;
  font-size: 14px;
  color: #333;
}
#header .secondnav .navmain .list ul li:hover a {
  text-decoration: underline;
}

#body {
  margin: 0 auto;
  min-height: 346px;
  height: auto;
  min-width: 1240px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#body .banner .slidebann {
  margin: 0 auto;
  min-height: 346px;
  height: auto;
  min-width: 1240px;
  width: 100%;
  overflow: hidden;
  clear: both;
  position: relative;
  background: #202020;
  padding: 0;
}

#body .banner .slidebann a {
  margin: 0 auto;
  min-height: 346px;
  height: auto;
  min-width: 1240px;
  width: 100%;
}

#body .banner .slidebann a img {
  margin: 0 auto;
  min-height: 346px;
  height: auto;
  min-width: 1240px;
  width: 100%;
  vertical-align: bottom;
  font-size: 0;
  border: 0;
}

#body .banner .slidebann .flash_bar {
  width: 180px;
  margin-left: -90px;
  z-index: 69;
  height: 5px;
  overflow: hidden;
  position: absolute;
  bottom: 45px;
  left: 50%;
  text-align: center;
}

.flash_bar .no {
  margin: 0 4px;
  display: block;
  float: left;
  width: 28px;
  height: 4px;
  cursor: pointer;
  background: white;
  background: rgba(255, 255, 255, 0.2);
}

.flash_bar .dq {
  /* margin : 0 4px; */
  display: block;
  float: left;
  width: 28px;
  height: 4px;
  cursor: pointer;
  background: #ffc933;
}

.mid {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

.index-main {
  margin-top: -30px;
  padding-bottom: 50px;
  background: #fff;
  border-radius: 8px;
}

.index-tit {
  padding: 50px 50px 0;
  line-height: 32px;
  font-size: 14px;
}

.index-tit h3 {
  margin-right: 20px;
  display: inline-block;
  font-weight: bold;
  color: #333;
  font-size: 28px;
}

.index-tit .link-more {
  font-size: 16px;
  color: #333;
  line-height: 30px;
}

.fr {
  float: right;
}

.adbox {
  margin: 15px auto 0;
  width: 1180px;
  height: 240px;
}

.adbox .ad-link {
  display: block;
}

img {
  display: block;
}

.good-list.index-glist {
  padding-top: 20px;
  padding-bottom: 0;
}

.good-list ul {
  margin-left: 40px;
  width: 1200px;
  height: 360px;
}

.good-list ul li {
  margin: 0 10px 20px;
  float: left;
  width: 280px;
  height: 356px;
  border: 1px solid #eee;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  overflow: hidden;
}

.good-list.index-glist ul li {
  margin-right: 7px;
  margin-bottom: 0;
}

.good-list ul li .good-info {
  margin-top: 18px;
  text-align: center;
  overflow: hidden;
}

.good-list ul li p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 24px;
}

.good-list ul li .good-name {
  font-size: 14px;
  color: #444;
}

.good-list ul li .good-pri {
  line-height: 25px;
  font-size: 16px;
  color: #f7545f;
}

#footer {
  margin-top: 40px;
  width: 100%;
  height: 233px;
  background: #0e0e0f;
}
#footer .main {
  width: 1280px;
  height: 100%;
  background: none;
  margin: 0 auto;
  position: relative;
}
#footer .main .logo {
  display: block;
  float: left;
  position: absolute;
  top: 51px;
  left: 80px;
  width: 213px;
  height: 64px;
}
#footer .main .logo img {
  display: block;
  width: 169px;
  height: 60px;
  margin-right: -30px;
}

#footer .main .menu {
  float: left;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-left: 317px;
  margin-top: 50px;
  width: 397px;
  height: 135px;
}
#footer .main .menu li {
  width: 118px;
  height: 55px;
  padding: 0 38px;
  float: left;
}
#footer .main .menu li a {
  color: #a8a8a8;
  width: 118px;
  height: 30px;
  display: block;
  line-height: 30px;
  font-size: 16px;
}
#footer .main .menu li a:hover {
  color: #ffffff;
}

#footer .main .menu li .iconfont {
  font-size: 20px;
  margin-right: 5px;
}

#footer .main .picli {
  float: left;
  padding: 50px 0 20px 33px;
}
#footer .main .picli li {
  float: left;
  padding: 0 45px;
}
#footer .main .picli li img {
  width: 100px;
  height: 100px;
}
#footer .main .picli li p {
  color: #fff;
  font-size: 16px;
  width: 100px;
  height: 62px;
  text-align: center;
  line-height: 62px;
}

#mao {
  width: 46px;
  height: 267px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2000;
  margin: 0 20px 215px 0;
}
#mao .m1 {
  display: block;
  border: 1px solid #dfdfdf;
  border-bottom: none;
  background: #f5f5f5;
  width: 44px;
  height: 44px;
  text-align: center;
  overflow: hidden;
  color: #fff;
  line-height: 16px;
}
#mao .m1 .icon-wenjian {
  display: block;
  width: 100%;
  height: 100%;
  background-position: -32px -290px;
  margin: 0 auto;
  padding-top: 12px;
  font-size: 20px;
  color: #3a3f4a;
}
#mao .m1 span {
  display: none;
  font-size: 16px;
  color: #fff;
  padding-top: 5px;
}

#mao .m2 {
  display: block;
  border: 1px solid #dfdfdf;
  border-bottom: none;
  background: #f5f5f5;
  width: 44px;
  height: 44px;
  text-align: center;
  overflow: hidden;
  color: #fff;
  line-height: 16px;
}
#mao .m2 .icon-dizhi {
  display: block;
  width: 100%;
  height: 100%;
  background-position: -32px -290px;
  margin: 0 auto;
  padding-top: 12px;
  font-size: 20px;
  color: #3a3f4a;
}
#mao .m2 span {
  display: none;
  font-size: 16px;
  color: #fff;
  padding-top: 5px;
}

#mao .m3 {
  display: block;
  border: 1px solid #dfdfdf;
  border-bottom: none;
  width: 44px;
  height: 130px;
  background: #fff;
  padding: 0;
  text-align: center;
  overflow: hidden;
  color: #3a3f4a;
  line-height: 16px;
}
#mao .m3 .icon-gouwuche {
  display: block;
  width: 100%;
  background-position: -32px -290px;
  margin: 0 auto;
  padding-top: 12px;
  font-size: 20px;
  color: #3a3f4a;
}
#mao .m3 span {
  display: block;
  font-size: 13px;
  color: #3a3f4a;
  margin-top: 6px;
  line-height: 16px;
}

#mao .m4 {
  display: block;
  border: 1px solid #dfdfdf;
  border-bottom: none;
  background: #f5f5f5;
  width: 44px;
  height: 44px;
  text-align: center;
  overflow: hidden;
  color: #fff;
  line-height: 16px;
  border: 1px solid #dfdfdf;
}
#mao .m4 .icon-qq {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 12px;
  font-size: 20px;
  color: #3a3f4a;
}
#mao .m4 span {
  display: none;
  font-size: 16px;
  color: #fff;
  padding-top: 14px;
}

#totop {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2000;
  margin: 0 20px 25px 0;
  width: 45px;
  height: 45px;
}
#totop a {
  width: 43px;
  height: 31px;
  display: block;
  border: 1px solid #dfdfdf;
  background: #f5f5f5;
  text-align: center;
  overflow: hidden;
  text-align: center;
  padding-top: 12px;
}
#totop a .span1 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
}
#totop a .span2 {
  display: none;
  font-size: 16px;
  color: #fff;
  padding-top: 5px;
}

#mao .m1:hover {
  background: orangered;
}

#mao .m1:hover .icon-wenjian {
  display: none;
}

#mao .m1:hover span {
  display: block;
}

#mao .m2:hover {
  background: orangered;
}

#mao .m2:hover .icon-dizhi {
  display: none;
}

#mao .m2:hover span {
  display: block;
}

#mao .m3:hover {
  background: orangered;
}

#mao .m3:hover span {
  color: #fff;
}

#mao .m4:hover {
  background: orangered;
}

#mao .m4:hover .icon-qq {
  display: none;
}

#mao .m4:hover span {
  display: block;
}

#totop a:hover {
  background: orangered;
}

#totop a:hover .span1 {
  color: #fff;
}

#footer-end {
  background: #1b1b1b;
  font-size: 12px;
  line-height: 24px;
  padding: 30px 0 40px;
  text-align: center;
}
#footer-end p {
  color: #777;
}
#footer-end p a {
  color: #777;
}

#footer-end p a:hover {
  color: #dfdfdf;
}

#loginbox {
  display: block;
  width: 622px;
  height: 495px;
  top: 50%;
  left: 50%;
  margin-left: -311px;
  margin-top: -209px;
  position: fixed;
  z-index: 10001;
  padding: 0px;
  background-color: white;
}
#loginbox .close {
  display: block;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 47px;
  height: 28px;
  background: url(https://vm.gtimg.cn/tencentvideo/vstyle/web/common/style/img/login/sprite_login.png?d=0210&max_age=31104000) 0 0 no-repeat;
  z-index: 10;
}

#loginbox .login-method {
  position: relative;
  height: 50px;
  margin-bottom: -1px;
  border-bottom: 1px solid #e6e6e6;
  background: #f1f1f1;
  font-size: 0;
  z-index: 3;
}
#loginbox .login-method .qq-login {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 50%;
  text-align: center;
}
#loginbox .login-method .qq-login a {
  background: #31a4f6;
  height: 50px;
  width: 311px;
  display: block;
}
#loginbox .login-method .qq-login a span {
  display: block;
  height: 50px;
  line-height: 51px;
  font-size: 16px;
  color: #fff;
}

#loginbox .login-method .wx-login {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 50%;
  text-align: center;
}
#loginbox .login-method .wx-login a {
  height: 50px;
  width: 311px;
  display: block;
}
#loginbox .login-method .wx-login a span {
  display: block;
  height: 50px;
  line-height: 51px;
  font-size: 16px;
  color: #b1b1b1;
}

#loginbox .remind {
  position: relative;
  z-index: 3;
  height: 22px;
  padding: 12px 10px;
}
#loginbox .remind div {
  font-size: 14px;
  line-height: 22px;
  color: #a2a2a2;
  text-align: center;
  zoom: 1;
}

#loginbox .qq .title {
  font-size: 20px;
  color: #333;
  margin-bottom: 16px;
  text-align: center;
}

#loginbox .qq .text {
  color: #666;
  font-size: 16px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  zoom: 1;
}
#loginbox .qq .text a {
  color: #3481cf;
}

#loginbox .qq .qqerweima {
  height: 140px;
  width: 140px;
  border: 1px solid #D3D3D3;
  display: block;
  position: relative;
  top: 0px;
  left: 240px;
}

#loginbox .qq {
  margin-top: 20px;
}
#loginbox .qq .checklist {
  height: 16px;
  margin-bottom: 8px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 10px;
  text-align: right;
  font-size: 12px;
  color: #666;
}

#loginbox .wx {
  line-height: 1.6;
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: center;
}
#loginbox .wx .title {
  text-align: center;
  font-size: 20px;
}
#loginbox .wx .wx-erweima {
  width: 280px;
  margin: 15px auto 0;
}
#loginbox .wx .wx-erweima img {
  width: 100%;
  border: 1px solid #E2E2E2;
}

#loginbox .wx .wx-erweima p {
  font-size: 13px;
  font-weight: 400;
  padding: 7px 14px;
}

.zh {
  position: relative;
  height: 100%;
  top: 50%;
  margin-top: -200px;
}
.zh .zhtips {
  position: relative;
  margin: 0 auto 36px;
  z-index: 11;
  font-size: 16px;
  color: #666;
  text-align: center;
}
.zh .zhtips .zhtips-top {
  font-size: 20px;
  color: #333;
  margin-bottom: 16px;
}

.login_form {
  width: 272px;
  margin: 0 auto;
}
.login_form .uinArea {
  height: 55px;
  position: relative;
  z-index: 10;
}

.input_tips, .web_login .input_tips_focus {
  position: absolute;
  top: 13px;
  left: 13px;
  font-size: 14px;
  line-height: 16px;
  color: #aaa;
  cursor: text;
}

.inputOuter {
  width: 272px;
  height: 42px;
  background: url(https://imgcache.qq.com/ptlogin/v4/style/40/images/icon_3_tiny.png) -1px -1px no-repeat;
}
.inputOuter .inputstyle {
  width: 258px;
  position: relative;
  top: 2px;
  left: 2px;
  height: 18px;
  padding: 10px 0 10px 10px;
  line-height: 18px;
  border: none;
  background: 0 0;
  color: #333;
  font-family: Verdana,Tahoma,Arial;
  font-size: 16px;
}

.input_password {
  position: absolute;
  top: 160px;
  left: 188px;
  font-size: 14px;
  line-height: 16px;
  color: #aaa;
  cursor: text;
}

.submit {
  position: relative;
  height: 40px;
  background-color: #86ce2f;
  margin-top: 13px;
}
.submit .login_button {
  position: absolute;
  left: 0;
  outline: 0;
  width: 100%;
}
.submit .login_button .btn {
  width: 100%;
  height: 40px;
  line-height: 35px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;
  color: #fff;
  background: 0 0;
  cursor: pointer;
}

.zh-bottom {
  height: 16px;
  margin-bottom: 8px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 10px;
  text-align: right;
  font-size: 12px;
  top: 325px;
}
.zh-bottom .link {
  color: #666;
}
.zh-bottom .dotted {
  color: #bfbfbf;
  margin: 0 5px;
}

.clearfix li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -2px, 0);
}

/*# sourceMappingURL=shouye.css.map */
